
# Python Envirioment
.venv
/venv
.env
env
/env


# Logs
logs/*
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Python byte-code
__pycache__/
*.pyc
*.pyo
*.pyd
*.dll

# Editor directories and files
# Local development
.idea
*.iml
*.DS_Store
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# carpeta obsidian
.obsidian/

# API Docs

# sql files
*.sql

# static files
static*/
*staticfiles*/
# build files
build/

#sqliet db
*.sqlite3
*.db
*.sqlite
